/* Estilos gerais para o Swiper */
.swiper {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Customização para o slide */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide-custom {
  @apply md:w-[300px] md:h-[300px] w-[200px] h-[200px];
}

/* Reduz o tamanho do slide no mobile */
@media (max-width: 768px) {
  .swiper-slide-custom {
      width: 200px;
      height: 200px;
  }
}

.slide-content {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.slide-content h3 {
  margin-top: 3px;
  font-size: 1.25rem;
}
